<nav id="login-hd" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid login text-center">
		<a href="#/mycenter" class="back pull-left"><span class="icon-fh"></span></a>
		登录
	</div>
</nav>
<div class="logo-login">
	<img src="img/banner3.jpg" class="img-responsive">
</div>
<div class="container-fluid login-bg">
	<div class="submit-hd clearfix">
		<p ng-class="{focus:isTrue,'pull-left':true}" ng-click="login1()">短信验证登录</p>
		<p ng-class="{focus:isFalse,'pull-right':true}" ng-click="login2()">账号密码登录</p>
	</div>
	<div class="submit-main">
		<form class="form-one" ng-hide="focus">
			<div class="form-group">
				<label>手机号码：</label>
				<input id="phonNum" name="phonNum" class="form-control" type="tel" reg="^0{0,1}(1[3-9][0-9])[0-9]{8}$" placeholder="手机号" required maxlength="11" minlength="11">
			</div>
			<div class="form-group clearfix">
				<label>验证码：</label>
				<input id="phonVer" name="phonVer" class="form-control verify" type="tel" reg="^\d{6}$" placeholder="动态验证码" required maxlength="6" minlength="6">
				<a class="verify-send" href="javascript:;">获取验证码</a>
			</div>
			<button class="btn btn-success btn-block" type="submit">登录</button>
		</form>

		<form class="form-two" ng-show="focus">
			<div class="form-group">
				<label>账号：</label>
				<input id="userId" name="userId" class="form-control" type="text" placeholder="手机号/用户名/邮箱" required maxlength="11" minlength="11">
			</div>
			<div class="form-group clearfix">
				<label>密码：</label>
				<input id="passWord" name="passWord" class="form-control" type="password" placeholder="密码" required maxlength="12" minlength="6">
			</div>
			<a class="btn btn-success btn-block" type="submit">登录</a>
			<div class="form-footer clearfix">
				<a class="pull-left">忘记密码</a>
				<a href="#/register" class="pull-right">快速注册</a>
			</div>
		</form>
	</div>
	<div class="submit-bottom">
		<h3>第三方账号登录</h3>
		<ul class="list-unstyled">
			<li><a href="javascript:;" class="qq"></a></li>
			<li><a href="javascript:;" class="weixin"></a></li>
			<li><a href="javascript:;" class="zhifubao"></a></li>
			<li><a href="javascript:;" class="xinlan"></a></li>
		</ul>
	</div>
</div>